/*
 * reddit.com/r/LanzaLibre
 *
 */

a
{
	text-decoration : none;
	color           : #009E35;
}

button {
	border             : 1px solid #aaa;
	border-right-color : #a0a0a0;
	color              : #444;
	padding            : 5px 10px;
	text-shadow        : 1px 1px 0 #E6E6E6;
	border-radius      : 2px;
}

#sr-header-area {
	background    : #AA121A;
	border-bottom : 1px solid #AA0300;
}

#sr-header-area a {
	color : #5E0300;
}

#sr-header-area .separator {
	color : #7E0300;
}

#sr-more-link {
	background  : #AA121A;
}

#header-img.default-header
{
	height : 50px;
}

.separator
{
	color : #664444;
}

#header-bottom-left
{
	background : transparent;
}

#header
{
	border-bottom    : none;
	background       : -moz-linear-gradient(top,  #b3121a 0%, #a20400 100%);
	background       : -webkit-linear-gradient(top,  #b3121a 0%,#a20400 100%);
	background       : -o-linear-gradient(top,  #b3121a 0%,#a20400 100%);
	background       : -ms-linear-gradient(top,  #b3121a 0%,#a20400 100%);
	background       : linear-gradient(to bottom,  #b3121a 0%,#a20400 100%);
	background-color : #b3121a;
}

#header-bottom-right
{
	background-color       : #eee;
	padding                : 4px 36px 0;
	border-top-left-radius : 46px;
}

.user
{
	color : #006E25
}

.pagename a
{
	color : white
}

.pagename
{
	font-variant : normal;
	font-size    : 1.9em;
}

.hover a:hover
{
	text-decoration : none;
	color           : #f55;
}

.pagename.redditname
{
	color : #6E0300;
}

.tabmenu
{
	margin-bottom : 5px;
}

.tabmenu li a
{
	padding                 : 5px 10px 5px;
	background-color        : #6E0300;
	color                   : #FF2019;
	font-weight             : normal;
	border-top-left-radius  : 2px;
	border-top-right-radius : 2px;
}

.tabmenu li.selected a
{
	border              : none;
    border-bottom-color : white;
	color               : #FF2019;
}

.entry.likes.keyHighlight.lcTagged, .link.last-clicked
{
	background-color : #ffffcc;
	border           : 1px solid #FCE8C5;
	outline          : none;
	border-radius    : 3px;
}

.side
{
	background-color : #eee;
	padding          : 0 8px;
	margin           : 0px 0px 0 8px;
	color            : #666;
}
.side a
{
	color : #009E35;
}

.morelink, .usertext-buttons button, button[type="submit"]
{
	background     : #64C87E;
	border         : 1px solid #9BBB9B;
	border-radius  : 2px;
	color          : #EEE;
	padding        : 4px;
	text-align     : center;
	text-shadow    : 0 1px 0 #5BAB5B;
	letter-spacing : 0;
	font-size      : 16px;
	font-weight    : bold;
}

.morelink:hover, .usertext-buttons button:hover, button[type="submit"]:hover
{
	background  : #00BA60;
	border      : 1px solid #007e35;
	color       : #FFF;
	text-shadow : 0 1px 0 #006E25;
	cursor      : pointer;
}

.morelink:active, .usertext-buttons button:active, button[type="submit"]:active
{
	background  : #00BA40;
}

.morelink .nub, .morelink:hover .nub
{
	background : none;
}

.morelink a
{
	color : white;
}

.sidecontentbox .title .h1
{
	font-weight : bold;
}

.sidecontentbox .content
{
	border-color : lightgray;
	background   : #ddd;
}

.icon-menu a
{
	background : none;
}

.panestack-title
{
	border-bottom-color : #ddd;
}

.sheets
{
	margin-right : 320px;
}

.linefield
{
	background-color : #eee;
}

.linefield .title
{
	color : #00BA40;
}

.link
{
	padding : 12px 10px 20px;
	border-bottom : 1px solid #eee;
}

.link .entry
{
	padding-left : 5px;
}

.thing .entry .title a.title
{
	color : #FF2019;
}

.thing .entry .title a.title:visited
{
	color     : #BA0600;
	font-size : 1.05em;
}

.thing .entry .title span.domain a
{
	color     : #6E0300;
}

.thing .entry a.author
{
	color : #6E0300;
}

input[type="text"]
{
	border        : 1px solid #ddd;
	border-radius : 2px;
}

.link .usertext-body .md
{
	background    : #eee;
	border-radius : 3px;
	border        : 1px solid #ccc;
	padding       : 5px 10px;
	color         : #444;
}

.usertext-edit textarea
{
	border-radius : 5px;
	border : 1px solid #ccc;
}

#newlink .tabmenu a {
	padding : 5px 10px 0;
}

#newlink .tabmenu a {
	border : none;
}

#newlink .tabmenu .selected a {
	background : #BA0600;
}

#newlink .formtabs-content {
	border-top-color : #BA0600;
}

#newlink .formtabs-content .spacer .roundfield {
	background    : #eee;
	border-radius : 3px;
	border-bottom : 1px solid #ddd;
}
